[submodule "axelar-contract-deployments"]
	path = axelar-contract-deployments
	url = https://github.com/axelarnetwork/axelar-contract-deployments.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
